/packages/*
/Tosna.Core/bin/
/Tosna.Core/obj/
/Tosna.Editor.Wpf/bin/
/Tosna.Editor.Wpf/obj/
/Tosna.Editor/obj/
/Tosna.Editor/bin/
/.vs/Tosna/*
/Tosna.Editor.Wpf.Demo/bin/
/Tosna.Editor.Wpf.Demo/obj/
/Tosna.Extensions/bin/
/Tosna.Extensions/obj/
/Tosna.Parsers.Xml/bin/
/Tosna.Parsers.Xml/obj/
/Tosna.Parsers.Xml/Grammar/*.interp
/Tosna.Parsers.Xml/Grammar/*.tokens
*.interp
*.tokens
